/*<meta />*/

p
{
	margin-bottom: 8pt;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 8pt;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 8pt;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 8pt;
	font-size: 11pt;
	vertical-align: top;
}

p.p_1
{
	font-weight: bold;
	font-size: 14pt;
}

span.span_1
{
	font-weight: bold;
}

img.img_1
{
	visibility: visible;
}

p.p_2
{
	font-weight: bold;
}

