/*<meta />*/

p
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 10pt;
	font-size: 11pt;
	vertical-align: top;
}

p.Title
{
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #4472C4;
	margin-bottom: 15pt;
	color: #323E4F;
	letter-spacing: 1pt;
	font-size: 26pt;
}

h1.Heading1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 24pt;
	margin-bottom: 0pt;
	mc-heading-level: 1;
	font-weight: bold;
	color: #2F5496;
	font-size: 14pt;
}

p.NormalWeb
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-size: 12pt;
}

h2.Heading2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 10pt;
	margin-bottom: 0pt;
	mc-heading-level: 2;
	font-weight: bold;
	color: #4472C4;
	font-size: 13pt;
}

li.ListParagraph
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-left: 36pt;
}

p.ListParagraph
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-left: 36pt;
}

h3.Heading3
{
	font-size: 11pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 10pt;
	margin-bottom: 0pt;
	mc-heading-level: 3;
	font-weight: bold;
	color: #4472C4;
}

li.ListParagraph_1
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-left: 36pt;
	list-style-type: disc;
}

ul.ul_1
{
	list-style-type: disc;
	margin-left: 36pt;
}

li.ListParagraph_2
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-left: 36pt;
	list-style-type: circle;
}

ul.ul_2
{
	list-style-type: circle;
	margin-left: 72pt;
}

p.ListParagraph_1
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-left: 72pt;
}

p.p_1
{
	margin-left: 54pt;
}

p.p_2
{
	font-style: italic;
}

span.span_1
{
	color: #2D2D2D;
	letter-spacing: 1pt;
}

p.p_3
{
	background-color: #FFFFFF;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

li.li_1
{
	background-color: #FFFFFF;
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 15pt;
}

li.ListParagraph_3
{
	font-size: 11pt;
	margin-left: 36pt;
	background-color: #FFFFFF;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

li.ListParagraph_4
{
	font-size: 11pt;
	margin-left: 36pt;
	background-color: #FFFFFF;
	margin-top: 5pt;
	margin-bottom: 5pt;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

span.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

span.span_2
{
	font-weight: normal;
	letter-spacing: 1pt;
}

p.NormalWeb_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-size: 12pt;
	font-style: italic;
}

li.li_2
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 15pt;
}

p.p_4
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

h1.Heading1_1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 24pt;
	margin-bottom: 0pt;
	mc-heading-level: 1;
	font-size: 14pt;
	font-weight: normal;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

p.NormalWeb_2
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	background-color: #FFFFFF;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.NormalWeb_3
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	background-color: #FFFFFF;
	font-style: italic;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 11pt;
}

h2.Heading2_1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 10pt;
	margin-bottom: 0pt;
	mc-heading-level: 2;
	font-size: 13pt;
	font-weight: normal;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

p.p_5
{
	margin-bottom: 23pt;
	font-weight: bold;
	color: #000000;
	letter-spacing: 1pt;
	font-size: 10pt;
}

td.td_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #EBEBEB;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #EBEBEB;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #EBEBEB;
	background-color: #F7F7F7;
	padding-top: 6pt;
	padding-left: 10pt;
	padding-bottom: 6pt;
	padding-right: 10pt;
	vertical-align: middle;
}

td.td_2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #EBEBEB;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #EBEBEB;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #EBEBEB;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #EBEBEB;
	background-color: #F7F7F7;
	padding-top: 6pt;
	padding-left: 10pt;
	padding-bottom: 6pt;
	padding-right: 10pt;
	vertical-align: middle;
}

tr.tr_1
{
	margin-left: 0pt;
	background-color: #FFFFFF;
}

p.p_6
{
	margin-bottom: 23pt;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 10pt;
}

td.td_3
{
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #EBEBEB;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #EBEBEB;
	background-color: #FFFFFF;
	padding-top: 10pt;
	padding-left: 10pt;
	padding-bottom: 10pt;
	padding-right: 10pt;
	vertical-align: middle;
}

td.td_4
{
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #EBEBEB;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #EBEBEB;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #EBEBEB;
	background-color: #FFFFFF;
	padding-top: 10pt;
	padding-left: 10pt;
	padding-bottom: 10pt;
	padding-right: 10pt;
	vertical-align: middle;
}

table.table_1
{
	margin-left: 0pt;
	background-color: #FFFFFF;
	border-collapse: collapse;
}

span.HTMLTypewriter
{
	font-size: 10pt;
}

span.span_3
{
	font-weight: normal;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

span.span_4
{
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.NormalWeb_4
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-size: 12pt;
	background-color: #FFFFFF;
}

span.span_5
{
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 10pt;
}

sup.sup_1
{
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 8pt;
}

p.p_7
{
	margin-bottom: 23pt;
}

p.p_8
{
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 10pt;
}

li.li_3
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 15pt;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 10pt;
}

p.p_9
{
	margin-bottom: 0pt;
}

p.p_10
{
	margin-bottom: 0pt;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 10pt;
}

span.span_6
{
	font-style: italic;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 11pt;
}

sub.sub_1
{
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 8pt;
}

span.HTMLCode
{
	font-size: 10pt;
}

p.HTMLPreformatted
{
	margin-bottom: 0pt;
	font-size: 10pt;
}

h3.Heading3_1
{
	font-size: 11pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 10pt;
	margin-bottom: 0pt;
	mc-heading-level: 3;
	font-weight: normal;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

li.li_4
{
	background-color: #FFFFFF;
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 15pt;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

p.class_1
{
	background-color: #F7F7F7;
	font-weight: bold;
	color: #445588;
	letter-spacing: 1pt;
}

span.integer_1
{
	color: #009999;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.HTMLPreformatted_1
{
	margin-bottom: 0pt;
	font-size: 10pt;
	background-color: #F7F7F7;
}

p.HTMLPreformatted_2
{
	margin-bottom: 0pt;
	background-color: #F7F7F7;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.predefined-constant_1
{
	background-color: #F7F7F7;
	font-weight: bold;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

p.integer_1
{
	background-color: #F7F7F7;
	color: #009999;
	letter-spacing: 1pt;
}

span.delimiter_1
{
	color: #DD1144;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.NormalWeb_5
{
	margin-top: 5pt;
	background-color: #FFFFFF;
	margin-bottom: 0pt;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 11pt;
}

span.Emphasis
{
	font-style: italic;
}

span.Strong
{
	font-weight: bold;
}

span.span_7
{
	color: #2D2D2D;
	font-size: 10pt;
}

p.p_11
{
	margin-top: 15pt;
	margin-bottom: 17pt;
}

td.td_5
{
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
	background-color: #F7F7F7;
	padding-top: 9pt;
	padding-left: 18pt;
	padding-bottom: 9pt;
	padding-right: 9pt;
	vertical-align: middle;
}

tr.tr_2
{
	margin-left: 0pt;
	background-color: #FBF8E9;
}

table.table_2
{
	margin-left: 0pt;
	background-color: #FBF8E9;
	border-collapse: collapse;
}

span.class_1
{
	font-weight: bold;
	color: #445588;
	letter-spacing: 1pt;
	font-size: 11pt;
}

span.keyword_1
{
	font-weight: bold;
	color: #000000;
	letter-spacing: 1pt;
	font-size: 11pt;
}

span.predefined-type_1
{
	font-weight: bold;
	color: #007744;
	letter-spacing: 1pt;
	font-size: 11pt;
}

span.predefined-constant_1
{
	font-weight: bold;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.p_12
{
	background-color: #FFFFFF;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

p.p_13
{
	background-color: #F79E54;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

p.p_14
{
	margin-top: 15pt;
	margin-bottom: 17pt;
	color: #2D2D2D;
	font-size: 10pt;
}

span.Strong_1
{
	font-weight: bold;
	color: #2D2D2D;
	font-size: 10pt;
}

span.Emphasis_1
{
	font-style: italic;
	font-weight: bold;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 11pt;
}

span.type_1
{
	font-weight: bold;
	color: #333399;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.p_15
{
	margin-top: 15pt;
	margin-bottom: 17pt;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 10pt;
}

p.NormalWeb_6
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-weight: bold;
	color: #000000;
	letter-spacing: 1pt;
	font-size: 10pt;
}

th.th_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #EBEBEB;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #EBEBEB;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #EBEBEB;
	background-color: #F7F7F7;
	padding-top: 6pt;
	padding-left: 10pt;
	padding-bottom: 6pt;
	padding-right: 10pt;
	vertical-align: middle;
}

th.th_2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #EBEBEB;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #EBEBEB;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #EBEBEB;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #EBEBEB;
	background-color: #F7F7F7;
	padding-top: 6pt;
	padding-left: 10pt;
	padding-bottom: 6pt;
	padding-right: 10pt;
	vertical-align: middle;
}

p.NormalWeb_7
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 10pt;
}

h4.Heading4
{
	font-size: 11pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 10pt;
	margin-bottom: 0pt;
	mc-heading-level: 4;
	font-weight: bold;
	font-style: italic;
	color: #4472C4;
}

p.HTMLPreformatted_3
{
	margin-bottom: 0pt;
	background-color: #F7F7F7;
	font-size: 12pt;
}

span.HTMLTypewriter_1
{
	font-size: 12pt;
}

h3.Heading3_2
{
	font-size: 11pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 10pt;
	margin-bottom: 0pt;
	mc-heading-level: 3;
	color: #4472C4;
	font-weight: normal;
	letter-spacing: 1pt;
}

span.class_2
{
	font-weight: bold;
	color: #445588;
	font-size: 12pt;
}

span.keyword_2
{
	font-weight: bold;
	color: #000000;
	font-size: 12pt;
}

span.delimiter_2
{
	color: #DD1144;
	font-size: 12pt;
}

h4.Heading4_1
{
	font-size: 11pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 10pt;
	margin-bottom: 0pt;
	mc-heading-level: 4;
	font-style: italic;
	color: #4472C4;
	font-weight: normal;
	letter-spacing: 1pt;
}

p.p_16
{
	letter-spacing: 1pt;
}

p.p_17
{
	color: #2D2D2D;
	font-size: 10pt;
}

p.p_18
{
	font-style: italic;
	letter-spacing: 1pt;
}

span.predefined_1
{
	font-weight: bold;
	color: #336699;
	font-size: 12pt;
}

span.integer_2
{
	color: #009999;
	font-size: 12pt;
}

p.comment_1
{
	background-color: #F7F7F7;
	font-style: italic;
	color: #999988;
	font-size: 12pt;
}

span.directive_1
{
	font-weight: bold;
	color: #008888;
	font-size: 12pt;
}

span.predefined-type_2
{
	font-weight: bold;
	color: #007744;
	font-size: 12pt;
}

span.predefined-constant_2
{
	font-weight: bold;
	font-size: 12pt;
}

p.p_19
{
	background-color: #F79E54;
}

li.li_5
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 30pt;
}

ul.ul_3
{
	list-style-type: disc;
	margin-left: 72pt;
}

p.NormalWeb_8
{
	margin-top: 5pt;
	font-size: 12pt;
	margin-bottom: 0pt;
}

h1.Heading1_2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 24pt;
	margin-bottom: 0pt;
	mc-heading-level: 1;
	color: #2F5496;
	font-size: 14pt;
	font-weight: normal;
	letter-spacing: 1pt;
}

li.ListParagraph_5
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-left: 36pt;
	list-style-type: disc;
	font-style: italic;
}

p.p_20
{
	font-weight: bold;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

p.error_1
{
	background-color: #F7F7F7;
	color: #FF0000;
	letter-spacing: 1pt;
}

p.p_21
{
	background-color: #FFFFFF;
	margin-bottom: 0pt;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

p.p_22
{
	margin-top: 15pt;
	margin-bottom: 17pt;
	font-weight: bold;
	font-style: italic;
	color: #2D2D2D;
	font-size: 10pt;
	background-color: #FFFF00;
}

span.octal_1
{
	font-weight: bold;
	color: #4400EE;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.float_1
{
	background-color: #F7F7F7;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

span.variable_1
{
	color: #003366;
	letter-spacing: 1pt;
	font-size: 11pt;
}

h5.Heading5
{
	font-size: 11pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 10pt;
	margin-bottom: 0pt;
	mc-heading-level: 5;
	color: #1F3763;
	font-weight: normal;
}

p.HTMLTypewriter
{
	font-size: 10pt;
}

p.HTMLCode
{
	font-size: 10pt;
}

h5.Heading5_1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 10pt;
	margin-bottom: 0pt;
	mc-heading-level: 5;
	font-weight: bold;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 14pt;
}

span.error_1
{
	color: #FF0000;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.comment_2
{
	background-color: #F7F7F7;
	font-style: italic;
	color: #999988;
	letter-spacing: 1pt;
}

p.HTMLPreformatted_4
{
	margin-bottom: 0pt;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #DDDDDD;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #DDDDDD;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #DDDDDD;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #DDDDDD;
	background-color: #EFEFEF;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.HTMLPreformatted_5
{
	margin-bottom: 0pt;
	font-size: 10pt;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #DDDDDD;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #DDDDDD;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #DDDDDD;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #DDDDDD;
	background-color: #EFEFEF;
}

p.HTMLTypewriter_1
{
	font-size: 10pt;
	background-color: #FFFFFF;
	color: #2D2D2D;
	letter-spacing: 1pt;
}

p.HTMLCode_1
{
	background-color: #F7F7F7;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.HTMLTypewriter_2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #DDDDDD;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #DDDDDD;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #DDDDDD;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #DDDDDD;
	background-color: #EFEFEF;
	color: #2D2D2D;
	letter-spacing: 1pt;
	font-size: 11pt;
}

p.NormalWeb_9
{
	margin-top: 5pt;
	font-size: 12pt;
	background-color: #FFFFFF;
	margin-bottom: 0pt;
}

